In [35]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd
import os
from google.cloud import bigquery
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [36]:
source = r'E:\bda\BigDataAnalysis\Praktek_dengan_BigQuery\bda-analisis-4f21456527de.json'
destination = ".ipynb_checkpoints/"

source = os.path.normpath(source)
destination = os.path.normpath(destination)

shutil.copy(source, destination)

'.ipynb_checkpoints\\bda-analisis-4f21456527de.json'

In [37]:
source = r'E:\bda\BigDataAnalysis\Praktek_dengan_BigQuery\data_credit.csv'
destination = ".ipynb_checkpoints/"

source = os.path.normpath(source)
destination = os.path.normpath(destination)

shutil.copy(source, destination)

'.ipynb_checkpoints\\data_credit.csv'

In [38]:
kunci = 'bda-analisis-4f21456527de.json'
credentials = service_account.Credentials.from_service_account_file(kunci)
client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [39]:
pip install db-dtypes

Requirement already satisfied: db-dtypes in e:\bda\bigdataanalysis\lib\site-packages (1.3.0)
Requirement already satisfied: packaging>=17.0 in e:\bda\bigdataanalysis\lib\site-packages (from db-dtypes) (24.1)
Requirement already satisfied: pandas>=0.24.2 in e:\bda\bigdataanalysis\lib\site-packages (from db-dtypes) (2.2.2)
Requirement already satisfied: pyarrow>=3.0.0 in e:\bda\bigdataanalysis\lib\site-packages (from db-dtypes) (17.0.0)
Requirement already satisfied: numpy>=1.16.6 in e:\bda\bigdataanalysis\lib\site-packages (from db-dtypes) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\bda\bigdataanalysis\lib\site-packages (from pandas>=0.24.2->db-dtypes) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\bda\bigdataanalysis\lib\site-packages (from pandas>=0.24.2->db-dtypes) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in e:\bda\bigdataanalysis\lib\site-packages (from pandas>=0.24.2->db-dtypes) (2024.1)
Requirement already satisfied: six>=1.5 in e:\bda\bigdataanalysis\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.24.2->db-dtypes) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd
from google.oauth2 import service_account
from google.cloud import bigquery

kunci = 'bda-analisis-4f21456527de.json'
credentials = service_account.Credentials.from_service_account_file(kunci)
client = bigquery.Client(credentials=credentials, project=credentials.project_id)

query = """SELECT * FROM bigquery-public-data.ml_datasets.credit_card_default LIMIT 2000"""
job = client.query(query)
results = job.result()

rows = list(results)
df = pd.DataFrame(rows)

In [25]:
df

                                                      0
0     (27502.0, 80000.0, 1, 6, 1, 54.0, 0.0, 0.0, 0....
1     (26879.0, 200000.0, 1, 4, 1, 49.0, 0.0, 0.0, 0...
2     (18340.0, 20000.0, 2, 6, 2, 22.0, 0.0, 0.0, 0....
3     (13692.0, 260000.0, 2, 4, 2, 33.0, 0.0, 0.0, 0...
4     (20405.0, 150000.0, 1, 4, 2, 32.0, 0.0, 0.0, 0...
...                                                 ...
1995  (22585.0, 180000.0, 2, 3, 1, 39.0, 1.0, -2.0, ...
1996  (21812.0, 20000.0, 2, 2, 2, 24.0, 3.0, 2.0, 3....
1997  (4007.0, 10000.0, 1, 3, 2, 46.0, 2.0, 2.0, 3.0...
1998  (8773.0, 220000.0, 2, 1, 1, 41.0, 7.0, 6.0, 5....
1999  (12967.0, 400000.0, 1, 2, 1, 40.0, 7.0, 6.0, 5...

[2000 rows x 1 columns]

In [26]:
print((df.info))

<bound method DataFrame.info of                                                       0
0     (27502.0, 80000.0, 1, 6, 1, 54.0, 0.0, 0.0, 0....
1     (26879.0, 200000.0, 1, 4, 1, 49.0, 0.0, 0.0, 0...
2     (18340.0, 20000.0, 2, 6, 2, 22.0, 0.0, 0.0, 0....
3     (13692.0, 260000.0, 2, 4, 2, 33.0, 0.0, 0.0, 0...
4     (20405.0, 150000.0, 1, 4, 2, 32.0, 0.0, 0.0, 0...
...                                                 ...
1995  (22585.0, 180000.0, 2, 3, 1, 39.0, 1.0, -2.0, ...
1996  (21812.0, 20000.0, 2, 2, 2, 24.0, 3.0, 2.0, 3....
1997  (4007.0, 10000.0, 1, 3, 2, 46.0, 2.0, 2.0, 3.0...
1998  (8773.0, 220000.0, 2, 1, 1, 41.0, 7.0, 6.0, 5....
1999  (12967.0, 400000.0, 1, 2, 1, 40.0, 7.0, 6.0, 5...

[2000 rows x 1 columns]>

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import  accuracy_score

In [28]:
# Membuat grafik perbandingan akurasi
plt.figure(figsize=(10, 6))
plt.bar(accuracy_df['Model'], accuracy_df['Accuracy'], color=['blue', 'green', 'red', 'purple', 'orange', 'cyan'])
plt.xlabel('Model')
plt.ylabel('Accuracy')
plt.title('Comparison of Model Accuracies')
plt.ylim(0, 1)
for index, value in enumerate(accuracy_df['Accuracy']):
    plt.text(index, value, f'{value:.2f}', ha='center', va='bottom')
plt.show()

NameError: name 'accuracy_df' is not defined